<p id="notice"><%= notice %></p>

<h1>Listing Reading List Items</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Reading list</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reading_list_items.each do |reading_list_item| %>
      <tr>
        <td><%= reading_list_item.book_id %></td>
        <td><%= reading_list_item.reading_list_id %></td>
        <td><%= reading_list_item.status %></td>
        <td><%= link_to 'Show', reading_list_item %></td>
        <td><%= link_to 'Edit', edit_reading_list_item_path(reading_list_item) %></td>
        <td><%= link_to 'Destroy', reading_list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reading list item', new_reading_list_item_path %>
